h1 {
    font-family: Ubuntu Mono;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h2 {
    font-family: Ubuntu Mono;
    font-size: 32px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

h3 {
    font-family: Ubuntu Mono;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}

p {
    font-family: Ubuntu Mono;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: Ubuntu Mono;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: Ubuntu Mono;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5667px;
}

a {
    text-decoration: none;
    color: inherit;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title img {
    width: 20%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 30%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.main_window {
    min-height: 83vh;
    display: flex;
}

.context {
    flex: 90%;
}

.context img {
    width: 30%;
}

.context a {
    color: blue;
}

.personal {
    flex: 10%;
    text-align: center;
}

.personal img {
    width: 100%;
}

.personal_links img {
    width: 50%;
}

.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.projects {
    white-space: pre-wrap;
    font-size: 15px;
    line-height: 150%;
}

.projects h3 {
    font-size: 20px;
}

p {
    white-space: pre-wrap;
    font-size: 20px;
    line-height: 150%;
}

.pagination ul {
    padding-top: 30px;
    display: flex;
    font-size: 20px;
    list-style-type: none;
}
.pagination a {
    padding: 0 15px;
}
