{% extends "index.html" %}
{% block context %}

<p>
I'm <b>Andrzej Michalski</b>, a Software Developer living in Tarnów, Poland.

I work as Python Developer in Cervi Robotics,
where I am responsible for robotics backend service.

My interests are in Geoscience, Internet of Things and Web Development.

I am VIM "lover". VIM it is great tool and I try use it, if there is only possibility.
It is great tool and make my workflow fast and efficient. If we talk about efficiency,
I like upgrade my workflow to be more fast and more productive.

I like to work on my own projects with Raspberry Pi and Home Automation.

The job as Software Developer is great, because I can realize my thoughts and make it real.

Being Programmer is very physical demanding job. After work I am triathlete and rock climber.
I am also Rescuer in Polish Mountain Rescue Service (GOPR).

The last, but not least role in my life is being Father of Two's - two Sons and husband for my wife.


If you want to get in touch you can email me at <a href="mailto: andrzej@michalski.in">andrzej@michalski.in</a>
</p>

<img src="/static/images/me_ski.jpg"/>
<img src="/static/images/family.jpg"/>

{% endblock %}
