{% extends "index.html" %}
{% block context %}
    {% for entry in entries %}
    <table>
        <tr valign="top">
               <td style="padding-top: 50px">
			<a href={{ url_for('detail', slug=entry.slug) }}><h2>{{ entry.title }}</h2></a>
               </td>
        </tr>
        <tr>
            <td>
                {% filter markdown %}
                {{ entry.text|safe}}
                {% endfilter %}
            </td>
        </tr>
    </table>
    {% else %}
        <em>Unbelievable.  No entries here so far</em>
    {% endfor %}
    {{ pagination.links }}
{% endblock %}
