<html>
    <head>
	<title>Andrzej Michalski - Python Developer</title>
        <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    </head>
    <body>
        <div class="header">
            <div class="title">
                <img src="/static/images/python_logo.png"/>
                <div class="header_text">
                    <h1>Andrzej Michalski</h1>
                    <h3>In software</h3>
                </div>
            </div>
            <div class="menu">
                <a href={{ url_for('about') }}><h2>About</h2></a>
                <a href={{ url_for('blog') }}><h2>Blog</h2></a>
                <a href={{ url_for('projects') }}><h2>Projects</h2></a>
                <a href={{ url_for('contact') }}><h2>Contact</h2></a>
            </div>
	    <div class="log">
		{% if session['logged_in'] %}
		  <form action="{{ url_for('logout') }}" class="form-horizontal" method="post">
		    <button class="btn btn-primary" type="submit">Log out</button>
		  </form>
		{% endif %}
	    </div>
        </div>
        <div class="main_window">
            <div class="context">
                {% block context %}
                {% endblock %}
            </div>
            <div class="personal">
                {% include 'personal.html' %}
            </div>
        </div>
        <div class="footer">
            <h3>© Andrzej Michalski</h3>
        </div>
    </body>

</html>
