{% extends "index.html" %}
{% block context %}
    <a href={{ url_for('create') }}><h3>Create new post</h3></a>
    {% for entry in entries %}
    <table>
        <tr>
               <td>
			<a href={{ url_for('detail', slug=entry.slug) }}>{{ entry.title }}</a>
    			  -- <a href={{ url_for('edit', slug=entry.slug) }}>Edit</a>
    			  -- <a href={{ url_for('delete', slug=entry.slug) }}>Delete</a>
               </td>
        </tr>
    </table>
    {% else %}
        <em>Unbelievable.  No entries here so far</em>
    {% endfor %}
{% endblock %}
