{% block personal %}
    <img id="photo" src="/static/images/profile_cr.jpg"/><br><br><br>
    Software Developer<br>Geologist<br><br>
    <div class="personal_links">
        <b>My repositories</b><br>
        <a href="https://github.com/andmichalski" rel="noopener noreferrer"
           target="_blank"><img
                src="/static/images/GitHub_Logo.png"/></a><br><br><br>

        <b>My social media</b><br><br>
        <a href="https://www.linkedin.com/in/andrzej-michalski/"
           rel="noopener noreferrer" target="_blank"><img
                src="/static/images/LI-Logo.png"/></a><br>
        <a href="https://twitter.com/andmichalski" rel="noopener noreferrer"
           target="_blank"><img src="/static/images/Twitter_Logo_Blue.png"/></a><br>
    </div>
{% endblock %}
