{% extends "index.html" %}
{% block context %}
<div class="projects">

I was participated in few interesting projects.

<h3>Projects</h3>
2019 - Software at Home

2018 - currently – AirVein
    Flight Control Module
    QGIS application to make UAV tracks
    Web Application to create UAV tracks

2017-2018 - Improveo.org

2012-2018 – SOPO – Landslide Couteracting System
    work with data from monitoring of landslides (GPS, LIDAR, inclinometers, rain gauges)
    measurements in field – GPS, LIDAR
    landslide maps

2014-2016 – e-Learning as powerfull tool to upgrade qualifications of Polish Mountain Rescuers
(author of chapters)
    Searching lost persons
    Lost persons behaviour
    Using GIS in searching lost persons

<h3>Publications</h3>
Wojciechowski T., Kułak M., Michalski M., Kamieniarz S., Wójcik A., 2017: Podatność osuwiskowa Polski – stan na 2017 rok. 6 Ogólnopolskie Sympozjum  Współczesne problemy geologii inżynierskiej, 17-20.10.2017 Rzeszów. Abstract book, 77.
Warmuz B., Michalski A., 2017: System permanentnego monitoringu osuwiska „Łaski” w Międzybrodziu Bialskim. 6 Ogólnopolskie Sympozjum  Współczesne problemy geologii inżynierskiej, 17-20.10.2017 Rzeszów. Abstract book, 91.
Perski Z., Wojciechowski T., Marinkovic P., Michalski, Andrzej, Chowaniec-Tobiasz, Katarzyna, Nescieruk P., 2015: Retrieving 3D deformation pattern of a landslide with hi-resolution InSAR and in-situ measurements: “Just landslide” case-study. Paper 303 – Session title: Applications: Subsidence and Landslides.
Michalski A., 2015- Integracja metod pomiarów monitoringowych przez wykorzystanie metody równowagi granicznej na osuwisku Łaski w Międzybrodziu Bialskim. (abstract – Conference „O!suwisko” conference materials)
Wojciechowski T., Marciniec P., Wójcik A., Karwacki K., Kowalski Z., Michalik K., Michalski A., Perski Z., Przyłucka M., 2015 – Metodyka wykorzystania danych ze skaningu lotniczego do wyznaczania zasięgu osuwisk na przykładzie bloków I – IV Procedura optymalnego przetwarzania danych z lotniczego skaningu laserowego pod kątem badań osuwisk – opracowanie wstępne. (Chapter about Matlab, not published)
Michalski A., 2013 – Slope stability analysis with GEO 5 software for “Łaski” Landslide in Międzybrodzie Bialskie. Contemporary Trends in Geoscience, vol . 2.

<h3>Presentations</h3>
Michalski A. Warmuz. B, 2017 – Metody monitorowania stosowane na osuwiskach karpackich przez Państwową Służbę Geologiczną. II Warsztaty Geologii Inżynierskiej, AGH Kraków. Abstract in conference materials.
Wojciechowski T., Michalski A. – Prezentacja działania skanera laserowego, wykonywania pomiarów oraz obróbki danych na Letniej Szkole Geoinformacji „GeoGorce 2015” (not published)
Michalski A., 2015 – Integracja metod pomiarów monitoringowych przez wykorzystanie metody równowagi granicznej na osuwisku Łaski w Międzybrodziu Bialskim. Conference „O!suwisko”

<h3>Other</h3>
Geologic Qualifications issued by Ministry of Environment in category VIII – performing gelogical cartography working (number of qualifications: VIII-0202)

Make own projects described on blog and stored on my Github
</div>
{% endblock %}
